<div class="task-form-container">
  <%= form_with(model: task, local: true) do |f| %>
    <%# エラー表示（以前のものを継続） %>
    <%# --- 追加：戻り先情報をコントローラーに引き渡す --- %>
    <%= hidden_field_tag :return_to, @return_to %>
    <%= hidden_field_tag :start_date, @start_date %>
    <% if task.errors.any? %>
      <div id="error_explanation" style="color: red;">
        <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%# 1. タイプの選択（タスク or 予定） %>
    <div class="field">
      <%= f.label :task_type, "登録内容" %>
      <div class="radio-group">
       <div class="radio-option">
        <%# id: "type_todo" を指定 %>
        <%= f.radio_button :task_type, :todo, checked: task.todo?, class: "type-selector", id: "type_todo" %>
        <%# for: "type_todo" を指定することで、このラベルをクリックしても上のボタンが反応するように %>
        <%= f.label :task_type, "タスク（締切あり）", for: "type_todo" %>
       </div>
       <div class="radio-option">
        <%# id: "type_schedule" を指定 %>
        <%= f.radio_button :task_type, :schedule, checked: task.schedule?, class: "type-selector", id: "type_schedule" %>
        <%# for: "type_schedule" を指定 %>
        <%= f.label :task_type, "予定（開始・終了あり）", for: "type_schedule" %>
       </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <%# 2. タスク（todo）用の項目 %>
    <div id="todo-fields" class="type-fields">
     <div class="field">
      <%= f.label :deadline %>
      <%
       deadline_val = task.deadline&.strftime('%Y-%m-%dT%H:%M') || 
                     (params[:task] && params[:task][:deadline]) || 
                     (params[:deadline] ? "#{params[:deadline]}T23:59" : nil)%>
      <%= f.datetime_local_field :deadline, value: deadline_val, class: "form-control deadline-input" %>
     </div>
    </div>

    <%# 3. 予定（schedule）用の項目 %>
    <div id="schedule-fields" class="type-fields" style="display: none;">
     <div class="field">
      <%= f.label :start_at %>
      <%
       start_val = task.start_at&.strftime('%Y-%m-%dT%H:%M') || 
                  (params[:task] && params[:task][:start_at]) || 
                  (params[:deadline] ? "#{params[:deadline]}T09:00" : nil)
      %>
      <%= f.datetime_local_field :start_at, value: start_val %>
     </div>
    <div class="field">
      <%= f.label :end_at %>
      <%
      end_val = task.end_at&.strftime('%Y-%m-%dT%H:%M') || 
                (params[:task] && params[:task][:end_at]) || 
                (params[:deadline] ? "#{params[:deadline]}T10:00" : nil)
      %>
      <%= f.datetime_local_field :end_at, value: end_val %>
    </div>
   </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

  <%# チーム選択（SlimSelect） %>
  <div class="field">
    <%= f.label :team_ids, "共有設定" %> <%# ラベルも少し分かりやすく変更 %>
    <div class="slim-select-wrapper">
      <%= f.collection_select :team_ids, current_user.teams, :id, :name, 
          { include_blank: true }, 
          { 
            multiple: true, 
            id: "team-select", 
            class: "form-control",
            style: "width: 100%;" 
          } 
      %>
    </div>
  </div>

    <div class="field">
      <%= f.label :priority %>
      <%= f.select :priority, Task.priorities.keys.map { |k| [I18n.t("enums.task.priority.#{k}"), k] } %>
    </div>

    <%# ステータス選択（タスクの時だけ表示したいのでIDを付与） %>
    <div id="status-field" class="field">
     <%= f.label :status %>
     <%= f.select :status, 
               Task.statuses.keys.map { |k| [I18n.t("enums.task.status.#{k}"), k] }, 
               {}, 
               class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "保存する", class: "submit-btn" %>
      <% if @return_to == 'day' %>
      <%# dayページから来た場合は、表示していた日(@date)と表示していた月(@start_date)に戻す %>
      <%= link_to 'キャンセル', day_tasks_path(date: task.start_at&.to_date || task.deadline&.to_date || Date.today, start_date: @start_date), class: "cancel-link" %>
      <% else %>
      <%# それ以外（index）から来た場合は、通常のカレンダー画面に戻す %>
      <%= link_to 'キャンセル', tasks_path(start_date: @start_date), class: "cancel-link" %>
      <% end %>
    </div>
  <% end %>
</div>
