<%= month_calendar(events: @tasks, attribute: :deadline) do |date, tasks| %>
  <div class="day-header" style="display: flex; justify-content: space-between;">
  <span class="day-number <%= 'sun' if date.sunday? %> <%= 'sat' if date.saturday? %>">
    <%= link_to date.day, new_task_path(deadline: date), style: "text-decoration: none; color: inherit;" %>
  </span>
</div>

  <div class="day-body">
    <% tasks.each do |task| %>
      <div class="task-entry">
        <%= link_to task.title, task_path(task), style: "font-size: 0.8em; text-decoration: none;" %>
      </div>
    <% end %>
  </div>
<% end %>